<footer class="mt-10 bg-[rgba(34, 5, 57, 1) 100%] py-4 backdrop-blur-lg w-full xl:w-[1200px] mx-auto">
    <div class="container mx-auto text-white flex justify-center items-centerr">
        <p class="text-center">
            &copy; 2024 Jordy Montero.
        </p>
    </div>
</footer>
<style>
