<article
    class="flex flex-col items-center justify-center gap-8 md:flex-row mb-4 ml-3 text-base font-normal text-gray-300/80 text-pretty"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Jordy Montero. Desde joven, me atrajo el mundo del
            desarrollo, y esa pasión me ha llevado a acumular más de <strong> 3 años </strong> de
            experiencia en el campo. 
        </p>
        <p>
            A lo largo de mi trayectoria, he tenido la oportunidad de trabajar
            en diversos proyectos, lo que ha fortalecido mis habilidades tanto
            en proyectos individuales como en colaboraciones de equipo. <strong>
                Soy conocido por mi proactividad y mi capacidad para adaptarme
                rápidamente a nuevos desafíos</strong
            >.
        </p>
        <p>
            Como profesional en desarrollo, busco activamente oportunidades para
            aplicar y ampliar mis habilidades. <strong>
                Estoy ansioso por contribuir con mi experiencia y aprender en un
                entorno laboral dinámico y desafiante</strong
            >. Mi objetivo es encontrar un puesto donde pueda crecer profesionalmente
            y contribuir al éxito de un equipo apasionado por la innovación y la
            excelencia técnica.
        </p>
    </div>
    <img
        width="200"
        height="200"
        src="JmFoto/me.webp"
        alt="Jordy Montero"
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
